@import "partials/form";

html, body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  background: $color-bg;
  color: $color-default;
  position: relative;

  opacity: 0;
  transition: opacity 500ms;

  &.loaded {
    opacity: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;

  margin: 0 auto;

  @include min-screen(500px) {
    max-width: 450px;
  }

  > header {
  flex: 1;
  margin-top: 1rem;

    @include max-screen(500px) {
        margin-top: 0;
    }
  }
}