extends layouts/default

block content
  main
    header
      h1 Designer News img2pixel
      h2 A little tool to help you get that header you always wanted.

    section.pixel-header
      canvas#header-canvas

      #header-drop-box
        - for (var i=0; i<29; i++)
          .CellRow
            - for (var j=0; j<62; j++)
              .Cell
        input(type="range" min=0 max=255 value=1 id="header-stepper" step=1 oninput="headerOutputUpdate(value)")
    section.header-code
      p(onclick="selectText('.header-code-box')").header-code-box

    section.pixel-portrait
      canvas#portrait-canvas

      #portrait-drop-box
        - for (var i=0; i<20; i++)
          .CellRow
            - for (var j=0; j<20; j++)
              .Cell
        input(type="range" min=0 max=255 value=1 id="portrait-stepper" step=1 oninput="portraitOutputUpdate(value)")
    section.portrait-code
      p(onclick="selectText('.portrait-code-box')").portrait-code-box