canvas {
  display: none;
}

#portrait-drop-box {
  width: 300px;
  margin: 20px auto;

   .Cell {
      width: 15px;
      height: 15px;
    }
}

p[class*="-code-box"] {
  font-family: monospace, monospace;
  word-break: break-all;
  word-wrap: break-word;
  padding: 2px 4px;
  font-size: 1rem;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  position: relative;
  text-align: justify;
}

p.code-box-template {
  display: none;
}

.Cell {
  width: 9px;
  height: 9px;
  user-select: none;
  float: left;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;
  box-sizing: border-box;
}

.Cell:first-child {
  border-left: 1px solid rgba(0,0,0,0.1);
}
