html, body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  background: $color-bg;
  color: $color-default;
  font-family: $font-sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  opacity: 0;
  transition: opacity 500ms;
}

a {
  text-decoration: none;
}
